/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {

    /* TIPOGRAFÍA */
    --fuenteHeading: 'Montserrat', sans-serif;
    --fuenteParrafos: 'Libre Baskerville', serif;

    /* PALETA DE COLORES */
    --color1: #101010;
    --color2: #001f36;
    --color3: #1c5560;
    --color4: #79ae92;
    --color5: #fbffcd;
    --grisClaro: #f5f5f5;
    --gris: #e1e1e1;
    --blanco: #fff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* Para que 1 rem sea igual que 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    /* 1rem = 10x */
    font-family: var(--fuenteParrafos);
    overflow-x: hidden;
}

/* GLOBALES */
.contenedor {
    max-width: 120rem;
    width: 90%;
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2;
}

h4 {
    font-size: 2.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

img {
    max-width: 100%;
}

/* UTILIDADES */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.contenido-principal {
    margin-top: 12rem;
}

.titulos-paginas {
    font-family: var(--fuenteHeading);
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.hr-paginas {
    border: none;
    height: .1rem;
    width: 100%;
    background-color: var(--color4);
}

.parrafos {
    text-align: justify;
    line-height: 1.5;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

.boton--primario {
    background-color: var(--negro);
}


/* CSS PARA EL INDICADOR DE CARGA */
.contenedor-preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--color5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    transition: all 2s ease-in;
}

.preloader {
    width: 11rem;
    height: 11rem;
    background: rgb(0, 227, 255);
    background: linear-gradient(90deg, rgba(0, 227, 255, 1) 25%, rgba(36, 94, 217, 1) 64%);
    border-radius: 50%;
    animation-name: circulo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.contenedor-preloader img {
    width: 10rem;
    height: 10rem;
    position: absolute;
}

@keyframes circulo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.contenedor-preloader2 {
    visibility: hidden;
    opacity: 0;
}

/* CSS CON LOS COMPONENTES PRINCIPALES */
/* HEADER */
nav {
    position: fixed;
    width: 100%;
    height: 8rem;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 5rem;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 0 1.5rem;
}

.menu .menu-i {
    text-decoration: none;
    color: var(--blanco);
    font-weight: bold;
    transition: all 0.3s ease;
}

.menu .menu-i:hover {
    color: var(--color4);
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-btn {
    font-size: 2rem;
    color: var(--blanco);
    cursor: pointer;
    display: none;
}

@media (max-width: 800px) {
    .menu-btn {
        display: block;
    }

    .menu {
        position: fixed;
        top: 6rem;
        left: 0;
        background: var(--color2);
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 10rem;
        transition: all 0.5s ease;
        transform: translateX(-100%);
    }

    .active {
        transform: translateX(0);
    }
}


/* CSS PARA EL HERO */
.contenedor-hero {
    display: flex;
    max-width: 100%;
    height: 100vh;
    background-image: url(../img/banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor-hero .wrap {
    max-width: 120rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contenedor-hero .wrap .box {
    color: var(--blanco);
    text-align: center;
    align-self: center;
}

.contenedor-hero .wrap .box h1 {
    font-size: 3.2rem;
    line-height: .9;
    padding-bottom: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    .contenedor-hero .wrap .box h1 {
        font-size: 2.5rem;
    }
}

.contenedor-hero .wrap .box .botones {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;

}

.contenedor-hero .wrap .box .botones .btn1 {
    border: solid .2rem;
    border-radius: 2rem;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    text-decoration: none;
    color: var(--blanco);
    transition: all .3s ease-in-out;
}

.contenedor-hero .wrap .box .botones .btn1:hover {
    border: none;
    background-color: var(--color4);
}

/* FOOTER */
footer {
    width: 100%;
    padding: 3.2rem 8%;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3.5rem;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.6rem;
}

.social-icon {
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    border: .1rem solid var(--color4);
    background-image: url(../img/FacebookBlanco.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1.6rem;
}

.social-icon:hover {
    background-color: var(--color4);
}

.social-icon:nth-of-type(2) {
    background-image: url(../img/InstagramBlanco.png);
}

.social-icon:nth-of-type(3) {
    background-image: url(../img/TwitterBlanco.png);
}

.menu-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover {
    opacity: 1;
}

.logo-footer {
    height: 7rem;
    width: 7rem;
}

.copyright {
    color: #C7C7C7;
    opacity: 0.3;
    text-align: center;
}

/* CSS DE LA PÁGINA QUIÉNES SOMOS */
.customer-logos {
    margin-top: 4rem;
}

.vision-mision {
    margin-top: 4rem;
}

.vision-mision h4 {
    text-align: center;
    margin-top: 1rem;
}

.img_mision-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.img_mision-vision img {
    width: 100%;
    height: 40rem;
    border-radius: .3rem;
    margin-top: 1rem;
}

.swiper-container {
    max-width: 100%;
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
}

/* CSS DE LA PÁGINA SERVICIOS */
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--color2);
    font-weight: bold;
}

.servicio p {
    text-align: center;
    padding: 1rem;
    line-height: 2;
}

.servicio .iconos {
    height: 12rem;
    width: 12rem;
    /*     background-color: var(--color4); */
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.servicios-enlace {
    padding: 1rem;
    text-align: center;
    background: var(--color4);
    color: var(--blanco);
    text-transform: uppercase;
    border-radius: .3rem;
    transition: all 300ms ease;
    margin-top: 1rem;
}

.btn-servicios {
    display: flex;
    justify-content: center;
}

.servicios-enlace:hover {
    background: var(--color3);
}

/* CSS DE LA PÁGINA CONTACTANOS */
.mapa {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.contacto-bg {
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    margin-top: 5rem;
}

/* FORMULARIO */
.formulario {
    background-color: var(--blanco);
    margin: -10rem auto 0 auto;
    width: 85%;
    padding: 5rem;
}

.formulario h4 {
    font-size: 3rem;
    text-align: center;
    margin-top: 0rem;
    padding-top: 0rem;
    text-transform: uppercase;
}

.campo {
    margin-bottom: 2rem;
}

.campo__label {
    text-align: right;
}

.campo__field {
    margin-top: 1rem;
    border: 1px solid var(--gris);
    outline: none;
    width: 100%;
    padding: .5rem;
}

.campo__field--textarea {
    resize: none;
}

@media (min-width: 768px) {
    .campo {
        display: flex;
    }

    .campo__label {
        flex: 0 0 9rem;
        text-align: right;
        padding: .8rem;
    }

    .campo__field {
        flex: 1;
        border: 1px solid var(--gris);
        outline: none;
    }

    .campo__field--textarea {
        height: 20rem;
    }
}

.error {
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}

.correcto {
    background-color: rgb(74, 185, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}